body	
  padding: 10px
  background-color: #f7f7f7
  #postContainer
    margin: 0 auto
    width: 66.67%
    border: 1px solid blue
    
    .post
      width: 17.66%
      float: left
      margin: 1%
      border: 1px solid red
      
      img
        width: 100%
      ul
        padding-left: 15%
        color: red
        li.tags
          font-weight: bold
          font-size: 12px
      .title
        padding-left: 10%
        font-weight: bold
        padding-bottom: 10px
      .author
        padding-left: 10%
        color: grey
        font-size: 13px
      .date
        padding-left: 10%
        color: grey
        font-size: 13px
        padding-bottom: 10px
        
      &:hover
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      
        
