$white: #FFFFFF
$grey: #CCCCCC

body  
  padding: 10px
  background-color: $grey

  #postContainer
    margin: 0 auto
    width: 66.67%
    
    .post
      width: 17.66%
      float: left
      margin: 1%
      background-color: $white
      img 
        width: 100%
      ul  
        padding-left: 15% 
        color: red 
        li.tags
          font-weight: bold
          font-size: 12px
      .title
        padding: 0px 10% 10px 10% 
        font-weight: bold
      .author
        padding-left: 10% 
        color: grey
        font-size: 13px
      .date
        padding-left: 10% 
        color: grey
        font-size: 13px
        padding-bottom: 10px
    
      &:hover
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

@media screen and (max-width: 1650px)
	body 
		#postContainer
			.post
				width: 20%
	


@media screen and (max-width: 1200px)
	body 
		#postContainer
			.post
				width: 25%
@media screen and (max-width: 1120px)
	body 
		#postContainer
			.post
				width: 28%
	
@media screen and (max-width: 1000px)
	body 
		#postContainer
			.post
				width: 40%
@media screen and (max-width: 600px)
	body 
		#postContainer
			.post
				width: 100%
	

@media screen and (max-width: 400px)
	body 
		#postContainer
			.post
				width: 100%
				margin-bottom: 10%
	

