doctype html
html
	head
		title Jaicomp's Blog
		
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='front/css/styleBlog.css')

	
	body
		#postContainer
			- for (i in posts) {
			a.post(href=''+posts[i].titlePost)
				img(src='http://ejohn.org/apps/workshop/adv-talk/jquery_logo.png', width='100',height='150')
				ul
					li.tags #{posts[i].tagPost}
				.title #{posts[i].titlePost}
				.author Jaime Crespi
				.date #{posts[i].datePost}
			- }
